
.taskList{
    display: flex;

    flex-direction: column-reverse;
}
.taskItemWrapper{
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    max-width: 490px;
    width: 490px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1EFE1;
    margin-bottom: 32px;

}
.taskCheckBox{
    width: 30px;
    height: 30px;
    background: #F1EFE1;
    margin-right: 25px;
}
.taskBody{

}
.taskItemControl{
    display: flex;
    gap: 10px;
}
.textArea{
    background-color: #F1EFE1;
    border: 1px solid #B1B1B1;
    border-radius: 5px;
    height: 25px;
}
.deleteTask{
    position: relative;
    bottom:4px;
    height: 25px;
    width:  25px;
    background: url('../../../img/delete.svg')0px 0 /100% 100%  no-repeat;
}
.editTask{
    height: 25px;
    width:  25px;
    background: url('../../../img/back.svg') 0 0/100% 100%  no-repeat;
}
.starTask{

}